# Build output and other log/bin files from arceos
**/target
/.vscode
/tmp
/.arceos
/.images
/.image.toml

.img
*.bin
*.elf
*.tmp_its
*guest.S
actual.out
qemu.log

/**/.axconfig.*
/**/.hvconfig.*
/**/.project.*
/**/.board.*

# dev env
/crates/*
!/crates/nop/
!/crates/nop/**
.devspace/

/Cargo.toml.bk

# tools should be downloaded from github
tools/*

# initramfs
*.cpio.gz

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*-schema.json
.qemu*
.build*
.uboot*

# AI tools
.spec-workflow/
.claude/

.idea/
/Cargo.lock
